In [7]:
import requests
headers = {
   'User-Agent':  'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36'
}
rs = requests.session()
res = rs.get('https://www.tdcc.com.tw/portal/zh/smWeb/qryStock', headers = headers)

In [2]:
#res.text

In [8]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'lxml')
payload = dict([ (e.get('name'), e.get('value')) for e in soup.select('input[type=hidden]')])

In [9]:
payload['scaDate'] = '20241101'
payload['sqlMethod'] = 'StockNo'
payload['stockNo'] = '2330'

In [10]:
res2 = rs.post('https://www.tdcc.com.tw/portal/zh/smWeb/qryStock', headers = headers, data = payload)

In [12]:
#res2.text

In [13]:
import pandas
dfs = pandas.read_html(res2.text)

/var/folders/21/1tszsz8n1vdd79rbhmdnwwqc0000gn/T/ipykernel_25387/38199660.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dfs = pandas.read_html(res2.text)

In [15]:
dfs[1]

     序           持股/單位數分級       人數       股數/單位數  占集保庫存數比例 (%)
0    1              1-999   970162    148669118          0.57
1    2        1,000-5,000   340376    653557399          2.52
2    3       5,001-10,000    41132    297795574          1.14
3    4      10,001-15,000    14273    175900847          0.67
4    5      15,001-20,000     6754    119355154          0.46
5    6      20,001-30,000     6766    165777072          0.63
6    7      30,001-40,000     3183    110618298          0.42
7    8      40,001-50,000     1907     86144274          0.33
8    9     50,001-100,000     3765    262934181          1.01
9   10    100,001-200,000     1912    265348010          1.02
10  11    200,001-400,000     1253    349991801          1.34
11  12    400,001-600,000      556    273382543          1.05
12  13    600,001-800,000      322    224449946          0.86
13  14  800,001-1,000,000      204    184661357          0.71
14  15        1,000,001以上     1540  22614147668         87.20
15  16                合　計  1394105  25932733242        100.00